<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <link rel="icon" href="./images/favicon.ico">
  <title>연혁 | 엑사바이트</title>
  <link rel="stylesheet" href="./css/reset.css"/>
  <link rel="stylesheet" href="./css/history.css"/>
  <link rel="stylesheet" href="./css/common.css"/>
  <link rel="stylesheet" href="./css/navigation.css"/>
  <link rel="stylesheet" href="./css/accordion.css"/>
  <link rel="stylesheet" href="./css/swiper.min.css">
  <link rel="stylesheet" href="./css/agency.min.css">
  <!--<link href="vendor/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" type="text/css" href="./css/all.min.css"/>-->
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gugi|Ubuntu&display=swap" rel="stylesheet">


</head>
<!-------------------------------------------------------------------------------------------------------------->
<body>
  <!--header-->
  <div id="header" class="head_inner">
    <div class="navi">
      <div class ="logo clearfix">
        <a href="index.html" title="엑사바이트 메인 이동">
          <img src ="./images/logo.png" width="220px" height="70px">
        </a>
      </div>
      <div class ="logo_text clearfix"><p class="tx">| &nbsp; 기업소개</p></div>
      <div id="nav" class="clearfix">
        <nav class="nav_inners">
          <ul class ="nav_inner">
            <li class="in_menu clearfix">
              <a href="..#service" class="menu_link"><b>서비스</b></a>
            </li>
            <li class="in_menu clearfix">
              <a href="..#project" class="menu_link"><b>프로젝트</b></a>
            </li>
              <li class="in_menu clearfix">
                <a href="#" class="menu_link"><b>기업소개</b></a>
            </li>
            <li class="in_menu clearfix">
              <a href="..#contact" class="menu_link"><b>문의하기</b></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="login clearfix">
          <a href="" class="login_menu clearfix">로그인</a>
          <a href="" class="login_menu clearfix">회원가입</a>
      </div>
    </div>
      <div class="text_box clearfix"><h2>빅데이터 분석 전문기업</h2></div>
  </div>
  </div>
  <!--body-->
  <body1>
    <div class="section2">
      <div class="rows">
      </div>
    </div>
  </body1>
  <body2>
    <div class="section3">
      <ul class="in_nav">
        <li class="in_txt clearfix"><a class="intx" href="../intro.html">기업개요</a></li>
        <li class="in_txt clearfix"><a class="intx" href="../present.html">인사말</a></li>
        <li class="in_txt clearfix"><a class="intx" href="./history.html">히스토리</a></li>
        <li class="in_txt clearfix"><a class="intx" href="ci.html">CI</a></li>
      </ul>
    </div>
  </body2>
  <body3>
    <div class="section4">
      <div class="contents">
      <h1 class="introduce">연혁</h1>
      <div class="introduce_box"></div>
      <div class="his">
        <img class="his_in" src="./images/logo1.png">
        <div class="ins_txt"><h2 class="histo1">EXABYTE</h2></div>
        <div class="ins_txt"><h1 class="histo">2019</h1>
        </div>
        <div class="mm1">
          <h3 class="mm_t clearfix">2019.03<br></h3>
          <div class="mm clearfix"></div>
       </div>
      </div>
      <div class="line1 clearfix">
        <p class="text_r">엑사바이트 법인 설립</p>
      </div>
      <div class="line2 clearfix">
        <div class="fa"></div>
        <div class="fa"><p style="font-size:22px; color:#270000;"><b>2018.07</b></p></div>
        <div class="fa"><p style="font-size:14px;">4대강 녹조 딥러닝 예측 연구<br>SSCI급 스위스 국제학술지 게재<br> <a class="ne" href ="http://www.kyeongin.com/main/view.php?key=20180716010005451" target="_blank">(경인일보)</a></p></div>
        <div class="fa"></div>
        <div class="fa"><p style="font-size:25px; color:#270000;"><b>2019.04</b></p></div>
        <div class="fa"><p style="font-size:16px;">딥러닝 CNN을 사용한 미세먼지 예측 <br>초기모델 개발</p></div>
        <div class="fa"></div>
        <div class="txt_box clearfixs"></div>
        <p class="text_l clearfix">2019.05</p>
        <p class="texts">딥러닝 미세먼지 예보관련 기사<br><a class="ne" href ="https://n.news.naver.com/article/022/0003363194" target="_blank">(세계일보)</a></p>
        <div class="fa"></div>
        <div class="txt_box clearfixs"></div>
        <p class="text_l clearfix">2019.06</p>
        <p class="texts">융합기술 창업지원 선정<br><a class="ne" href ="https://n.news.naver.com/article/022/0003363194" target="_blank">(차세대융합기술연구)</a></p>
        <div class="fa"></div>
        <div class="fa"><p style="font-size:25px; color:#270000;"><b>2019.12</b></p></div>
        <div class="fa"><p style="font-size:16px;">미세내일 서비스 출시</p></div>
      </div>
      <!--<div class="ins_txt"><h1 class="histo">2020</h1>-->
      </div>
    </div>
  </div>
</body3>

  <!--footer-->
    <div class="footer_inner">
      <div class="footer_inner_text1">
      <a href="../use.html" class="footer_link"><b>이용약관</b> &nbsp; &nbsp;|</a>
      <a href="../map.html" class="footer_link"><b>오시는길</b>&nbsp; &nbsp;|</a>
      <a href="e-mail.html" class="footer_link"><b>이메일주소무단수집거부</b>&nbsp; &nbsp;|</a>
      <a href="../private.html" class="footer_link"><b>개인정보보호정책</b></a>
      </div>
      <div class="footer_inner_text2">
        <p class="foot">대표이사 : 이상목 &nbsp;  사업자등록번호 : 513-86-01421(응용소프트웨어 개발 및 공급) &nbsp; 대표번호 : 0507-1327-1891 <br>
          주소 : 경기도 안산시 상록구 양지편로 38, 623호(이동, 보은타운)&nbsp;  서비스 문의 : exabyte0320@naver.com
          <br><br>Copyright &copy; 2019 Exabyte. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>





  <script src="./js/jquery_v3.4.1.js"></script>
  <script src="./js/swiper.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/contact_me.js"></script>
  <script src="js/jqBootstrapValidation.js"></script>
  <script>
  var gotothebookmark = function(target) {
  $('html, body').animate({
  scrollTop: $(target).offset().top
  }, 700);
  return false;
  }

  $(function(){
    $('.nav li a').on('click',function(){
      $(this).siblings('.depth').stop().slideDown();
      $(this).parent().siblings('li').find('.depth').stop().slideUp();
    });
  });
  /*var slider = $('.slidebox');
  slider.bxSlider({

    autoControls: true,
    stopAutoOnClick: true,
    pager: true,
    slideWidth: 300
  });*/

  </script>

</body>
