<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <link rel="icon" href="./images/favicon.ico">
  <title>회사소개 | 엑사바이트</title>
  <link rel="stylesheet" href="./css/reset.css"/>
  <link rel="stylesheet" href="./css/intro.css"/>
  <link rel="stylesheet" href="./css/common.css"/>
  <link rel="stylesheet" href="./css/navigation.css"/>
  <link rel="stylesheet" href="./css/accordion.css"/>
  <link rel="stylesheet" href="./css/swiper.min.css">
  <link rel="stylesheet" href="./css/agency.min.css">
  <!--<link href="vendor/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" type="text/css" href="./css/all.min.css"/>-->
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gugi|Ubuntu&display=swap" rel="stylesheet">


</head>
<!-------------------------------------------------------------------------------------------------------------->
<body>
  <!--header-->
  <div id="header" class="head_inner">
    <div class="navi">
      <div class ="logo clearfix">
        <a href="index.html" title="엑사바이트 메인 이동">
          <img src ="./images/logo.png" width="220px" height="70px">
        </a>
      </div>
      <div class ="logo_text clearfix"><p class="tx">| &nbsp; 기업소개</p></div>
      <div id="nav" class="clearfix">
        <nav class="nav_inners">
          <ul class ="nav_inner">
            <li class="in_menu clearfix">
              <a href="..#service" class="menu_link"><b>서비스</b></a>
            </li>
            <li class="in_menu clearfix">
              <a href="..#project" class="menu_link"><b>프로젝트</b></a>
            </li>
              <li class="in_menu clearfix">
                <a href="#" class="menu_link"><b>기업소개</b></a>
            </li>
            <li class="in_menu clearfix">
              <a href="..#contact" class="menu_link"><b>문의하기</b></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="login clearfix">
          <a href="" class="login_menu clearfix">로그인</a>
          <a href="" class="login_menu clearfix">회원가입</a>
      </div>
    </div>
      <div class="text_box clearfix"><h2>빅데이터 분석 전문기업</h2></div>
  </div>
  </div>
  <!--body-->
  <body1>
    <div class="section2">
      <div class="rows">
      </div>
    </div>
  </body1>
  <body2>
    <div class="section3">
      <ul class="in_nav">
        <li class="in_txt clearfix"><a class="intx" href="./intro.html">기업개요</a></li>
        <li class="in_txt clearfix"><a class="intx" href="present.html">인사말</a></li>
        <li class="in_txt clearfix"><a class="intx" href="history.html">히스토리</a></li>
        <li class="in_txt clearfix"><a class="intx" href="ci.html">CI</a></li>
      </ul>
    </div>
  </body2>
  <body3>
    <div class="section4">
      <div class="contents">
        <div class="pic"></div>
        <h1 class="introduce">회사소개</h1>
        <div class="introduce_box"></div>
        <p class="intro_txt">  <b>엑사바이트 주식회사</b>는 빅데이터 분석, 딥러닝 응용, AI분야에 있어 빠르게 변화하는 환경 속에서 지속적인 성장을 위해<br> 누구보다 빠르게 변화를 감지하고 고객과 시장에 새로운 서비스를 제공하고자 노력하겠습니다.<br>
        나아가 끊임없는 도전과 창조정신을 바탕으로 새로운 가치를 제공하는 사회적 기업이 되겠습니다.</p>
        <h1 class="introduce1">소개자료</h1>
        <div class="introduce_box"></div>
        <div class="intro_box"></div>
      </div>
    </div>
  </body3>

  <!--footer-->
    <div class="footer_inner">
      <div class="footer_inner_text1">
      <a href="../use.html" class="footer_link"><b>이용약관</b> &nbsp; &nbsp;|</a>
      <a href="map.html" class="footer_link"><b>오시는길</b>&nbsp; &nbsp;|</a>
      <a href="e-mail.html" class="footer_link"><b>이메일주소무단수집거부</b>&nbsp; &nbsp;|</a>
      <a href="private.html" class="footer_link"><b>개인정보보호정책</b></a>
      </div>
      <div class="footer_inner_text2">
        <p class="foot">대표이사 : 이상목 &nbsp;  사업자등록번호 : 513-86-01421(응용소프트웨어 개발 및 공급) &nbsp; 대표번호 : 0507-1327-1891 <br>
          주소 : 경기도 안산시 상록구 양지편로 38, 623호(이동, 보은타운)&nbsp;  서비스 문의 : exabyte0320@naver.com
          <br><br>Copyright &copy; 2019 Exabyte. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>





  <script src="./js/jquery_v3.4.1.js"></script>
  <script src="./js/swiper.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/contact_me.js"></script>
  <script src="js/jqBootstrapValidation.js"></script>
  <script>
  var gotothebookmark = function(target) {
  $('html, body').animate({
  scrollTop: $(target).offset().top
  }, 700);
  return false;
  }

  $(function(){
    $('.nav li a').on('click',function(){
      $(this).siblings('.depth').stop().slideDown();
      $(this).parent().siblings('li').find('.depth').stop().slideUp();
    });
  });
  /*var slider = $('.slidebox');
  slider.bxSlider({

    autoControls: true,
    stopAutoOnClick: true,
    pager: true,
    slideWidth: 300
  });*/

  </script>

</body>
