<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <link rel="icon" href="./images/favicon.ico">
  <title>인사말 | 엑사바이트</title>
  <link rel="stylesheet" href="./css/reset.css"/>
  <link rel="stylesheet" href="./css/present.css"/>
  <link rel="stylesheet" href="./css/common.css"/>
  <link rel="stylesheet" href="./css/navigation.css"/>
  <link rel="stylesheet" href="./css/accordion.css"/>
  <link rel="stylesheet" href="./css/swiper.min.css">
  <link rel="stylesheet" href="./css/agency.min.css">
  <!--<link href="vendor/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" type="text/css" href="./css/all.min.css"/>-->
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gugi|Ubuntu&display=swap" rel="stylesheet">


</head>
<!-------------------------------------------------------------------------------------------------------------->
<body>
  <!--header-->
  <div id="header" class="head_inner">
    <div class="navi">
      <div class ="logo clearfix">
        <a href="index.html" title="엑사바이트 메인 이동">
          <img src ="./images/logo.png" width="220px" height="70px">
        </a>
      </div>
      <div class ="logo_text clearfix"><p class="tx">| &nbsp; 기업소개</p></div>
      <div id="nav" class="clearfix">
        <nav class="nav_inners">
          <ul class ="nav_inner">
            <li class="in_menu clearfix">
              <a href="..#service" class="menu_link"><b>서비스</b></a>
            </li>
            <li class="in_menu clearfix">
              <a href="..#project" class="menu_link"><b>프로젝트</b></a>
            </li>
              <li class="in_menu clearfix">
                <a href="#" class="menu_link"><b>기업소개</b></a>
            </li>
            <li class="in_menu clearfix">
              <a href="..#contact" class="menu_link"><b>문의하기</b></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="login clearfix">
          <a href="" class="login_menu clearfix">로그인</a>
          <a href="" class="login_menu clearfix">회원가입</a>
      </div>
    </div>
      <div class="text_box clearfix"><h2>빅데이터 분석 전문기업</h2></div>
  </div>
  </div>
  <!--body-->
  <body1>
    <div class="section2">
      <div class="rows">
      </div>
    </div>
  </body1>
  <body2>
    <div class="section3">
      <ul class="in_nav">
        <li class="in_txt clearfix"><a class="intx" href="intro.html">기업개요</a></li>
        <li class="in_txt clearfix"><a class="intx" href="./present.html">인사말</a></li>
        <li class="in_txt clearfix"><a class="intx" href="history.html">히스토리</a></li>
        <li class="in_txt clearfix"><a class="intx" href="ci.html">CI</a></li>
      </ul>
    </div>
  </body2>
  <body3>
    <div class="section4">
      <div class="contents">
        <div class="pic">
          <div class="cont1"></div>
          <div class="cont1"><h1 class="tn">인사말</h1></div>
          <div class="cont">
            <div class="cont2">
              <br><br><p class="hin">안녕하십니까.<br>엑사바이트 대표이사 이상목입니다.<br><br>엑사바이트는 빅데이터 분석, 딥러닝 응용 분야에 특화된 회사입니다.<br>
              환경, 산업, 제조, 금융, 의료 등 다양한 분야의 빅데이터를 분석하고 새로운 가치를 찾는 것을<br> 목표로 하고 있습니다.<br><br>
              또한, 엑사바이트는 합리적인 비용으로 기업내의 데이터 분석 전문가 채용 및 전담조직 <br>구축을 대체하고자 최선을 다하고 있습니다.<br><br>
              앞으로도 빅데이터 분석과 딥러닝 분야 전문가를 통한 신기술을 제공할 것이며,<br> 다양한 서비스 제공과 교육을 통해 빅데이터 분석 전문기업으로 사회에 이바지 하겠습니다.
              <br>고객 여러분들의 열정과 성공에 발판이 되고자 하는 일념으로 혁신과 최고의 가치를 <br>제공하는 기업으로 성장하겠습니다.<br>감사합니다.<br>
              <div class="cont3"><img class="sign clearfix" src="./images/sign.png"><strong class="ft clearfix">대표이사&nbsp;&nbsp;&nbsp;&nbsp;</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body3>

  <!--footer-->
    <div class="footer_inner">
      <div class="footer_inner_text1">
      <a href="../use.html" class="footer_link"><b>이용약관</b> &nbsp; &nbsp;|</a>
      <a href="map.html" class="footer_link"><b>오시는길</b>&nbsp; &nbsp;|</a>
      <a href="e-mail.html" class="footer_link"><b>이메일주소무단수집거부</b>&nbsp; &nbsp;|</a>
      <a href="private.html" class="footer_link"><b>개인정보보호정책</b></a>
      </div>
      <div class="footer_inner_text2">
        <p class="foot">대표이사 : 이상목 &nbsp;  사업자등록번호 : 513-86-01421(응용소프트웨어 개발 및 공급) &nbsp; 대표번호 : 0507-1327-1891 <br>
          주소 : 경기도 안산시 상록구 양지편로 38, 623호(이동, 보은타운)&nbsp;  서비스 문의 : exabyte0320@naver.com
          <br><br>Copyright &copy; 2019 Exabyte. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>





  <script src="./js/jquery_v3.4.1.js"></script>
  <script src="./js/swiper.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/contact_me.js"></script>
  <script src="js/jqBootstrapValidation.js"></script>
  <script>
  var gotothebookmark = function(target) {
  $('html, body').animate({
  scrollTop: $(target).offset().top
  }, 700);
  return false;
  }

  $(function(){
    $('.nav li a').on('click',function(){
      $(this).siblings('.depth').stop().slideDown();
      $(this).parent().siblings('li').find('.depth').stop().slideUp();
    });
  });
  /*var slider = $('.slidebox');
  slider.bxSlider({

    autoControls: true,
    stopAutoOnClick: true,
    pager: true,
    slideWidth: 300
  });*/

  </script>

</body>
