<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <link rel="icon" href="./images/favicon.ico">
  <title>엑사바이트</title>
  <link rel="stylesheet" href="./css/reset.css"/>
  <link rel="stylesheet" href="./css/satellite.css"/>
  <link rel="stylesheet" href="./css/common.css"/>
  <link rel="stylesheet" href="./css/navigation.css"/>
  <link rel="stylesheet" href="./css/accordion.css"/>
  <link rel="stylesheet" href="./css/swiper.min.css">
  <link rel="stylesheet" href="./css/agency.min.css">
  <!--<link href="vendor/css/bootstrap.min.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" type="text/css" href="./css/all.min.css"/>-->
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gugi|Ubuntu&display=swap" rel="stylesheet">


</head>
<!-------------------------------------------------------------------------------------------------------------->
<body>
  <!--header-->
  <div id="content" class="container">
    <div class="section1">
      <div id="header">
        <div class = "header_inner">
          <div class ="logo clearfix">
            <a href="http://www.exa-byte.co.kr" title="엑사바이트 메인 이동">
              <img src ="./images/logos.png" width="220px" height="70px">
            </a>
          </div>
          <div class="menu_name clearfix">
            <h1>위성영상</h1>
          </div>
          <div id="nav" class="dropdown clearfix">
            <button class="dropbtn"><img src="./images/menu.png"></button>
              <div class="content_drop">
                <a href="#">미세먼지</a>
                <a href="#">녹조</a>
                <a href="#">텍스트 분석</a>
              </div>
          </div>
      </div>
    </div>
    <div class="section2">
      <P id="img_out" class="sta1 clearfix"></P>
      <form class="sta2 clearfix" action="mail/practice_sate.php" method="post">
        <div class="cont">
          <h2>위성영상 전처리</h2>
          <p>(위성영상의 배경을 제거하는 전처리 작업입니다.)</p>
        </div>
        <div class="cont1">
        <br><p><b>Select</b></p>
        <select name="satellite" id="satellite" onchange="OnChange();">
          <option value="위성종류">위성종류</option>
          <option value="천리안1호">천리안위성 1호</option>
          <option value="천리안2호">천리안위성 2A</option>
          <option value="NOAA">NOAA</option>
          <option value="SNPP">SNPP</option>
          <option value="METOP">METOP</option>
        </select><br/><br/>
        <select class="size" name="size">
          <option value="사이즈">크기</option>
          <option value="100X100">100x100</option>
          <option value="125X125">125x125</option>
          <option value="256X256">256x256</option>
          <option value="512X512">512x512</option>
          <option value="1024X1024">1024x1024(원본)</option>
        </select>
        <select class="years" name="years">
          <option value="기간">기간</option>
          <option value="2014년도">2014</option>
          <option value="2015년도">2015</option>
          <option value="2016년도">2016</option>
          <option value="2017년도">2017</option>
          <option value="2018년도">2018</option>
          <option value="2019년도">2019</option>
        </select><br/><br/><br/>
       </div>
       <div class="cont2">
        <br><p><b>Detail</b></p>
       <label class="text1" for="names">성함(업체명)*</label>
       <input type="text" id="names" required="required" name="names"/><br/><br/>
       <label class="text1" for="mail_add">메일주소*</label>
       <input type="email" id="mail_adds" required="required" name="mail_adds"/><br/><br/>
       <label class="text1" for="messege">요청사항</label>
       <textarea  id="messages" name="messages"></textarea><br/><br/><br/>
       </div>
       <input class="buttn" type="submit" value="문의하기" name="submit"/>
  </form>
    </div>
  </div>
  <!--body-->
  <!--footer-->
    <div class="footer_inner">
      <div class="footer_inner_text1">
        <a href="../use.html" class="footer_link"><b>이용약관</b> &nbsp; &nbsp;|</a>
        <a href="map.html" class="footer_link"><b>오시는길</b>&nbsp; &nbsp;|</a>
        <a href="e-mail.html" class="footer_link"><b>이메일주소무단수집거부</b>&nbsp; &nbsp;|</a>
        <a href="private.html" class="footer_link"><b>개인정보보호정책</b></a>
      </div>
      <div class="footer_inner_text2">
        <p class="foot">대표이사 : 이상목 &nbsp;  사업자등록번호 : 513-86-01421(응용소프트웨어 개발 및 공급) &nbsp; 대표번호 : 0507-1327-1891 <br>
          주소 : 경기도 안산시 상록구 양지편로 38, 623호(이동, 보은타운) &nbsp;  서비스 문의 : exabyte0320@naver.com
          <br><br>Copyright &copy; 2019 Exabyte. All Rights Reserved.
        </p><br><br>
      </div>
    </div>
  </div>





  <script src="./js/jquery_v3.4.1.js"></script>
  <script src="./js/swiper.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/contact_me.js"></script>
  <script src="js/jqBootstrapValidation.js"></script>

  <script>
  var gotothebookmark = function(target) {
  $('html, body').animate({
  scrollTop: $(target).offset().top
  }, 700);
  return false;
  }

  $(function(){
    $('.nav li a').on('click',function(){
      $(this).siblings('.depth').stop().slideDown();
      $(this).parent().siblings('li').find('.depth').stop().slideUp();
    });
  });
  </script>

  <script>
  function OnChange()
  {
    var change = document.getElementById("satellite").options[document.getElementById("satellite").selectedIndex].value;
    var img = "";
    if ( change != "위성종류" ){
      img += "<img src='./images/"+change+".png' style='width: 600px; height: 600px;'>";
      document.getElementById("img_out").innerHTML = img;
    }
  }
  </script>
</body>
</html>
